<form class="form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form__campo">
    <label for="solicitante">Solicitante*</label>
    <input
      type="text"
      name="solicitante"
      id="solicitante"
      formControlName="solicitante"
    />
    <span
      *ngIf="
        formulario.get('solicitante')?.hasError('required') &&
        formulario.get('solicitante')?.touched
      "
    >
      Campo é obrigatório.
    </span>
  </div>
  <div class="form__campo">
    <label for="descricao">Descrição*</label>
    <input
      type="text"
      name="descricao"
      id="descricao"
      formControlName="descricao"
    />
    <span
      *ngIf="
        formulario.get('descricao')?.hasError('required') &&
        formulario.get('descricao')?.touched
      "
    >
      Campo é obrigatório.
    </span>
  </div>
  <div class="form__campo">
    <label for="preco">Preço*</label>
    <input
      type="text"
      name="preco"
      id="preco"
      formControlName="preco"
      pattern="^R\$ \d{1,3}(.\d{3})*(,\d{2})?$"
    />
    <span
      *ngIf="
        formulario.get('preco')?.hasError('required') ||
        (formulario.get('preco')?.hasError('pattern') &&
          formulario.get('preco')?.touched)
      "
    >
      Campo é obrigatório e dever ser escrito no formato R$ xx,xx.
    </span>
  </div>
  <div class="form__btn">
    <button [disabled]="!isFormValid()" class="form__btn__enviar" type="submit">
      Enviar
    </button>
    <button class="form__btn__cancelar" [routerLink]="''" type="button">
      Cancelar
    </button>
  </div>
</form>
