@import "../../../variables";

.almoxarife-container {
  padding: 0.5rem;
  font-family: $font-family;
  user-select: none;

  table {
    width: 100%;
    text-align: center;

    th,
    tr,
    td {
      padding: 5px;
    }

    thead {
      background-color: $color-gray-23;
      color: $color-gray-93;
      font-weight: 700;
      letter-spacing: 0.05rem;
    }

    tbody {
      tr {
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: #999;
        }
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
}
